.pio
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
certs/**/*.key
certs/**/*.srl
certs/**/*.pem
certs/**/*.csr
certs/**/*.txt
certs/**/*.old
certs/**/*.attr
certs/**/*.pfx
certs/**/serial